name: soccer-sim
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.10
  - matplotlib
  - numpy
  - pandas
  - scipy
  - jupyter
  - scikit-learn
  - pip
  - pip:
    - mplsoccer
    - torch
